{% extends 'base.html.twig' %}

{% block title %}Recherche Météo{% endblock %}

{% block body %}
    <h2>Recherche Météo</h2>

    <form method="get" action="{{ path('weather') }}">
        <label for="city">Entrez le nom de la ville :</label>
        <input type="text" id="city" name="city" required>
        <button type="submit">Rechercher</button>
    </form>
{% endblock %}